
/*!* encapsulated component styleDef CAN NOT define css variables on the root*!*/
/*:root{*/
/*  --default-color: red;*/
/*}*/
/*!* component styleDef CAN define css variables on the host *!*/
/*:host{*/
/*  --default-color: lightpink;*/
/*}*/

.css-import {
  color: orange;
  background-color: var(--default-color);
}
